@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
  --color-guardian-yellow: #ffd600;
  --color-guardian-blue: #00e5ff;
  --color-deep-bg: #050505;
  --color-card-bg: #0a0a0a;
}

/* FORȚĂM DARK MODE */
body {
    background-color: #050505;
    color: #ffffff;
    margin: 0;
}

/* Scrollbar smecher */
::-webkit-scrollbar { width: 8px; }
::-webkit-scrollbar-track { background: #050505; }
::-webkit-scrollbar-thumb { background: #333; border-radius: 4px; }
::-webkit-scrollbar-thumb:hover { background: #00e5ff; }